#new-note-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 450px;
}

#note-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  min-width: 600px;
  min-height: 900px;
  /* border: 1px solid #274450; */
  /* border: 2px solid #ff6200; */
  gap: 10px;
}

.grid-item {
  border: 1px solid #274450;
}

.grid-item:hover {
  border: 2px solid #274450;
}

.grid-item.selected {
  border: 3px solid #ff6200;
}
